*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
nav{
    transform: translateY(30px);
}
nav img{
}
.nav-search input{
    width: 220px;
    height: 50px;
border: 1px solid none;
border-radius: 30px;
margin-top: 10px;
font-weight: bold;
color:lightgrey;
margin-right:200px ;

}

.nav-search ::placeholder{
    color: lightgrey;
}
nav ul{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.search-icon{
    background-image: url("https://img.icons8.com/ios-filled/50/EBEBEB/search--v1.png");
    background-repeat: no-repeat;
   background-size: 30px 30px;
 background-position:left;
   
   

}
 
.navbar a {
  color: white;               /* Default color */
  text-decoration: none;     
  padding: 10px 15px;
  display: inline-block;     /* Makes padding clickable */
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: pink;  
}
#home{
    color: pink;
}
#pro{
    width: 120px;
    height: 50px;
    border: 1px solid;
    border-radius: 30px;
    background-color: rgb(110, 102, 102);
      transition: color 0.3s ease;

}
.navbar #pro:hover{
    background-color: pink;
}
.navbar #pro a:hover{
    color:white;
    background-color:pink;
}
#pro img{
    width: 40px;
height: 40px;
border-radius: 20px;
position: relative;
top: 5px;
right: 2px;}
#pro a{

    background-color: rgb(110, 102, 102) ;
  position: relative;
  bottom: 8px;
  left: 2px;
  border-radius: 30px;
}
.banner{
    width:95%;
    height: 1600px;
 
    background-color: rgb(80, 74, 74);
    transform: translateX(70px);
    border: 1px solid none;
    border-radius: 30px;
    position: relative;
    top: 30px;
    right: 30px;
}.featured-top-section {
  width: 1300px;
  background-color: rgb(80, 74, 74);
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 60px auto;
  border-radius: 20px;
  padding: 30px;
  transform: translateY(40px);
}

.featured-games {
  width: 880px;
  background-color: #1f1f1f;
  border-radius: 20px;
  padding: 25px;
  position: relative;
  right:50px;
  
}

.top-downloaded {
  width: 370px;
  background-color: #1f1f1f;
  padding: 25px;
  border-radius: 20px;
}

.featured-games h4,
.top-downloaded h4 {
    background-color: #1f1f1f;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  color: pink;
}
#a{
    background-color: #1f1f1f;
}
.featured-games h4 span,
.top-downloaded h4 span {
  color: white;
  text-decoration: underline;
  background-color: #1f1f1f;
}

.featured-grid {
  display: flex;
  gap: 20px;
  background-color: #1f1f1f;
  
}

.featured-card {
  background-color: #1f1f1f;
  border-radius: 20px;
  padding: 15px;
  width: 250px;
}

.featured-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.featured-card h5 {
  color: white;
  font-size: 18px;
  margin: 15px 0 5px;
  background-color: #1f1f1f;
}

.featured-card p {
  font-size: 14px;
  background-color: #1f1f1f;
  color: #aaa;
}.top-streamers {
    width: 500px;
  background-color: #1f1f1f;
  padding: 30px 20px;
  border-radius: 20px;
}
.top-streamers {
  background-color: #1f1f1f;
  padding: 30px 20px;
  border-radius: 20px;
  position: relative;
  right:50px;
}

.top-streamers h4 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
    background-color: #1f1f1f;

}

.top-streamers h4 span u {
  color: pink;
    background-color: #1f1f1f;

}

.top-streamers ul {
  list-style: none;
  padding: 0;
  margin: 0;
      background-color: #1f1f1f;

}

.top-streamers ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      background-color: #1f1f1f;

}

.top-streamers ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.top-streamers ul li span {
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
  font-weight: 600;
      background-color: #1f1f1f;

}
.number{
    width: 100%;
    height: 60px;
    background-color: #1f1f1f;
    
}
.number p{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
        background-color: #1f1f1f;

}
.top-streamers h6{
    width: 200px;
    position: relative;
    right: 30px;
    background-color: #1f1f1f;
}

.top-streamers ul li img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
position: absolute;
left: 110px;

}

.top-streamers ul li h6 {
  color: #fff;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.top-streamers ul li h6 .verified i {
  color: #ec6090;
  margin-left: 6px;
  font-size: 22px;
      background-color: #1f1f1f;

}

.top-streamers ul li button {
    width: 200px;
    height: 50px;
  background-color: #ec6090;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.top-streamers ul li .main-button:hover {
  background-color: #fff;
  color: #ec6090;
}
.banner1 {
    width: 95%;
    border-radius: 30px;
    height: 830px;
  background: #1e1e1e;
  padding: 50px 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
  left: 35px;
}

.banner1 h2 {
  font-size: 38px;
  margin-bottom: 30px;
  background-color: #1e1e1e;
}

.banner1 h2 span {
  color: #ff5eb1;
    background-color: #1e1e1e;
    text-decoration: underline;

}

.stream-container {
    background-color: #1e1e1e;
  display: grid;
height: 300px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}
.stream-container1 {
    background-color: #1e1e1e;
  display: grid;
height: 300px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  position: relative;
  top: 20px;
}

.stream-card {
  background-color: #1e1e1e;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.stream-card img {
    background-size: contain;
  width: 100%;
  display: block;
  height: 230px;
  object-fit: cover;
}

.stream-info {
      background-color: #1e1e1e;

  padding: 15px;
}

.profile {
      background-color: #1e1e1e;

  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.profile p {
    color: white;
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
  font-weight: bold;
    background-color: #1e1e1e;
    position: relative;

}

.profile span {
      background-color: #1e1e1e;

  color: #ff5eb1;
  font-weight: 500;
  font-size: 13px;
}

.load-btn {
  text-align: center;
  margin-top: 40px;
   background-color: #1e1e1e;
}


.load-btn button {
    width: 200px;
    height: 50px;
  background-color: #ff5eb1;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
  position: relative;
  top: 40px;
  font-weight: bold;
}

.load-btn button:hover {
    color:hotpink;
  background-color: white;
}

footer{
    width:100%;
    height: 100px;
    color:white;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}