 .box{

Width: 300px;
 Height: 150px;
Background-color: lightblue;
Border: 2px solid navy;
 }

 p{
    color: blue;
    font-size: 16px;
 }
 #a{background-color: red;
Width: 100px;
Height: 40px;
Border: none;
}
#b{background-color: green;
Width: 100px;
Height: 40px;
Border: none;}
#c{background-color: yellow;
Width: 100px;
Height: 40px;
Border: none;

}
.box1{
    Width: 100px;
   Height: 100px;
Border-radius: 50%;
Background-color: orange;
Border: 2px dashed brown;

}
.card{
 width: 250px;
height: 300px;
  background: linear-gradient(to bottom right, blue, purple);
Border: 1px solid gray;
text-align: center;
border-radius: 10px;
      padding: 20px;
      color: white;


}